---
---

body {
    background-color:#000000;
    background-image: url("{{ site.url }}/img/site-background-dark.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    color: #D0D0D0;
}

* {
    /*font-family: 'Crimson Text', serif;*/
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Crimson Text', serif;*/
    color: #D0D0D0;
}

.banner {
    padding: 1.5em;
}