---
---

body {
    background-color:#000000;
    background-image: url("{{ site.url }}/img/background-decoration.png");
    background-repeat: repeat-y;
    background-position: center 45px;
    background-attachment: scroll;
    background-size: initial;
    color: #D0D0D0;
}

* {
    font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
    color: #D0D0D0;
}

.banner {
    padding: 1.5em;
}