---
layout: default
page_title: Buy CDs directly from us
meta: audio output files mp3 compact disc releases media long players skyconqueror buy cd under the pentagram hellstory silver haze rising paypal shipping
---

<div class="row">
    <div class="columns small-12 medium-12 large-12">
        <h2><i class="fa fa-shopping-cart" title="Buy"></i> Buy our CDs with Paypal</h2>
        CDs can be bought via Paypal using the forms below. If you have any questions regarding the order please <a href="mailto:order@skyconqueror.de">send us a mail</a>.
        <b>Please do not forget to enter your shipping address before clicking the button!</b>
    </div>
</div>
</div class="row">
    <div class="columns small-12 medium-12 large-12">
        <input class="accept_order_conditions" type="checkbox" name="accept_order_conditions" onclick="javascript:switchButtonEnabled(document.querySelector('.accept_order_conditions').checked);"> I have <a href="{{ site.url }}/imprint.html" title="Imprint">read and accept the order conditions.</a>
    </div>
<div>

<hr/>
<div class="row">
    <div class="columns small-12 medium-4 large-4">
        <h4>Under The Pentagram<br/>(2014)</h4>
        <img style="height: 180px; width: 180px;" src="img/cover.jpg" title="Under The Pentagram"/>
        {% include buy_under_the_pentagram.html %}
    </div>
    <div class="columns small-12 medium-4 large-4">
        <h4>Hellstory<br/>(2008)</h4>
        <img style="height: 180px; width: 180px;" src="img/hellstory.jpg" title="Hellstory"/>
        {% include buy_hellstory.html %}
    </div>
    <div class="columns small-12 medium-4 large-4">
        <h4>Silver Haze Rising<br/>(2001)</h4>
        <img style="height: 180px; width: 180px;" src="img/skyconqueror_silvenhazerising.jpg"
             title="Silver Haze Rising"/>
        {% include buy_silver_haze_rising.html %}
    </div>
</div>
<hr/>
<div class="row">
    <div class="columns small-12 medium-12 large-12">
        Please see our <a href="imprint.html">imprint</a> for dealer inquiries and order details and conditions.
    </div>
</div>
