---
---

{% include head.html %}

{% include navigation.html %}

{% include banner_big_centered.html %}

<div class="row">
    <div class="columns small-12 medium-12 large-12">
        <h1>LIVE</h1>
        <hr/>
    </div>
    {% assign sorted = (site.gigs | sort: 'gig_date') | reverse %}
    {% for gig in sorted %}
</div>
<div class="row">
    <div class="columns small-2 medium-2 large-2">
        <h4>{{ gig.gig_date | date: "%Y-%m-%d" }}</h4>
    </div>
    <div class="columns small-6 medium-6 large-6">
        <h4>{{ gig.title }}</h4>
    </div>
    <div class="columns small-4 medium-4 large-4">
        <h4><img src="{{ gig.image }}"/></h4>
    </div>
    {% endfor %}
</div>

{% include footer.html %}