body {

}
* {
    background-color:#000000;
    color:#D0D0D0;
    font-family:Helvetica,Arial,sans-serif;
}

p,li  { font-size:110%;
    line-height:140%;
    letter-spacing:0.1em;
    word-spacing:0.3em; }

td {
    vertical-align: top;
}

div.top {
    width: 976px;
    margin: 0px auto 0px auto;
    padding: 0px;
    text-align: center;
}

div.left {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 500px;
    margin: 0px auto 0px auto;
    padding: 0px;
    text-align: center;
}

div.right {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 500px;
    margin: 0px auto 0px auto;
    padding: 0px;
    text-align: center;
}

div.main {
    position: relative;
    text-align: center;
    width: 640px;
    margin: 0px auto 0px auto;
    padding: 0px;
}

div.buttons {
    width: 640px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: 10px auto 0px auto;
}

div.bottom {
    position: relative;
    text-align: center;
    margin: 0px auto 0px auto;
    padding: 10px;
    width: 640px;
}