---
layout: landing
page_title: SKYCONQUEROR - legal terms
meta: landing legal terms shipping revocation advice
---
<div class="row">

    <div class="columns small-6 medium-6 large-6">
        <h3>Right of revocation</h3>
        You have the right to revoke the contract within fourteen days without any reason.

        Revocation period is fourteen days starting from conclusion of the contract.

        To make use of your right of revocation you have to send us

        {% include address.html %}

        a non anbiguous notice about your decision to revoke the contract. This notice can be sent for example as a post letter or as an email. For this purpose you can use the enclosed standard revocation form, but using the enclosed form is not mandatory.

        For keeping the revocation period it is sufficient to have sent us the revocation notice prior to expiration of the revocation period.
    </div>

    <div class="columns small-6 medium-6 large-6">
        <h3>Widerrufsrecht</h3>
        Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen.

        Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag des Vertragsabschlusses.

        Um Ihr Widerrufsrecht auszuüben, müssen Sie uns

        {% include address.html %}

        mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren.

        Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.
    </div>

</div>
<div class="row">

    <div class="columns small-6 medium-6 large-6">
        <h3>Consequences of revocation</h3>
        If you revoke this contract, we must refund all payments we received from you immediately, within fourteen days at the latest, starting from the day when we have received the revocation notice. Refunding includes costs of delivery (but does not include the costs of delivery which you have expent by selecting a different, more expensive delivery method than the cheapest method of delivery we offer). Refund will be done with the same payment method which you used when contract was concluded, except you and us agreed explicitly on refunding using a different method. In neither way you will be billed with refund fees.
    </div>

    <div class="columns small-6 medium-6 large-6">
        <h3>Folgen des Widerrufs</h3>
        Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet.
    </div>

</div>
<div class="row">

    <div class="columns small-6 medium-6 large-6">
        <h3>Exclusion of the right of revocation</h3>
        The right of revocation can not be applied to a contract of delivering audio or video recordings or of software, as far as the delivered storage mediums have been unsealed.
        The right of revocation expires for a contract of delivering digital content not contained on physical storage media in the moment of the contractor starting execution of the contract and after the consumer

        1. has explicitly agreed to the fact that the execution of the contract will be started by the contractor before revocation period has ended
        2. confirmed knowledge of the fact that by his agreement he has lost the right to revoke the contract
    </div>

    <div class="columns small-6 medium-6 large-6">
        <h3>Ausschluss des Widerrufsrechtes</h3>

        Das Widerrufsrecht besteht nicht bei einem Vertrag zur Lieferung von Audio- oder Videoaufzeichnungen oder von Software, sofern die gelieferten Datenträger vom Verbraucher entsiegelt worden sind.
        Das Widerrufsrecht erlischt bei einem Vertrag über die Lieferung von nicht auf einem körperlichen Datenträger befindlichen digitalen Inhalten auch dann, wenn der Unternehmer mit der Ausführung des Vertrags begonnen hat, nachdem der Verbraucher

        1. ausdrücklich zugestimmt hat, dass der Unternehmer mit der Ausführung des Vertrags vor Ablauf der Widerrufsfrist beginnt, und
        2. seine Kenntnis davon bestätigt hat, dass er durch seine Zustimmung mit Beginn der Ausführung des Vertrags sein Widerrufsrecht verliert.
    </div>

</div>
