<footer class="site-footer">

<div class="row">
    <div class="columns">
        H&auml;ndleranfragen erw&uuml;nscht! Bitte wenden Sie sich an unseren Vertriebs
partner/
        Dealer inquiries welcome! Please contact our sales partner
        <a href="http://www.oomoxx.com">oomoxx media, CD Produktion und DVD Produktion</a>.
        mail: <a href="mailto:vertrieb@oomoxx.de">vertrieb@oomoxx.de</a>
    </div>
</div>

  <script src="/js/foundation.min.js"></script>
  <script src="/js/vendor/jquery.js"></script>
  <script>
    $(document).foundation();
  </script>

</footer>
