
<div class="row">
    <div class="columns small-12 medium-12 large-12">
        We use a cookie to provide you with SSL encryption. We don't use analytics tools or the like. We only store your emails for conversation purposes. For further information regarding GDPR compliance please <a href="/imprint.html">see our data privacy policy</a>.
    </div>
    <div class="columns small-12 medium-12 large-12">
        All material is &copy; {{ 'now' | date: "%Y" }} Skyconqueror except where stated otherwise.
    </div>
</div>

<script src="{{ site.url }}/js/vendor/jquery.js"></script>
<script src="{{ site.url }}/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
