<head>
    <meta charset="utf-8">
    <!-- If you delete this meta tag World War Z will become a reality -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skyconqueror | Heavy Metal</title>

    <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/foundation.css">

    <!-- If you are using the gem version, you need this only -->
    <link rel="stylesheet" href="css/app.css">

    <link rel="stylesheet" href="font-awesome-4.1.0/css/font-awesome.min.css">

    <script src="js/vendor/modernizr.js"></script>

</head>
