<div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: [medium,large]">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#"></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">

            <ul class="left">
                <li><a href="/index">Home</a></li>
                <li><a href="/buy">Music / Merch</a></li>
                <li><a href="/press/">Downloads</a></li>
                <li><a href="/live">Live</a></li>
            </ul>

            <ul class="right">
                <li><a href="/imprint" title="Imprint"><i class="fa fa-info-circle"></i></a></li>
                <li><a href="https://skyconqueror.bandcamp.com/" title="Bandcamp"><i
                        class="fa-brands fa-bandcamp"></i></a></li>
                <li><a href="http://www.facebook.com/skyconqueror" title="Facebook"><i
                        class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/skyconqueror666/" rel="publisher" title="Instagram"><i
                        class="fa-brands fa-instagram-square"></i></a></li>
                <li><a href="http://www.youtube.com/skyconqueror666" title="Youtube"><i
                        class="fa-brands fa-youtube"></i></a></li>
                <li><a href="mailto:info@skyconqueror.de" title="E-Mail"><i
                        class="fa fa-envelope"></i></a></li>
            </ul>

        </section>
    </nav>
</div>
