<div class="row">
    <div class="columns small-4 medium-4 large-4 text-center">
        {% if page.previous != nil %}
        <a title="{{ page.previous.title }}" href="{{ site.url }}/{{ page.previous.url }}">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        {% else %}
        &nbsp;
        {% endif %}
    </div>
    <div class="columns small-4 medium-4 large-4 text-center">
        {{ page.date | date: "%Y-%m-%d" }}<br/>
    </div>
    <div class="columns small-4 medium-4 large-4 text-center">
        {% if page.next != nil %}
        <a title="{{ page.next.title }}" href="{{ site.url }}/{{ page.next.url }}">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
        {% else %}
        &nbsp;
        {% endif %}
    </div>
</div>
