<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en">

{% include head.html %}

<body>

<div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li><a href="imprint.html" title="Imprint"><i class="fa fa-info"></i></a></li>
                <li><a href="http://www.facebook.com/skyconqueror" title="Facebook"><i
                        class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/Skyconqueror666" title="Twitter"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="https://plus.google.com/102197588832277412650" rel="publisher" title="Google+"><i
                        class="fa fa-google-plus"></i></a></li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
                <li><a href="biography.html">Bio</a></li>
                <li><a href="audio.html">Audio</a></li>
            </ul>
        </section>
    </nav>
</div>

{% include banner.html %}

<div class="row">
    <div class="columns small-12 medium-12 large-12">
        {{ content }}
    </div>
</div>

{% include footer.html %}

<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
