{% include head.html %}

{% include navigation.html %}

{% include banner_big_centered.html %}

<div class="row">
    <div class="columns small-12 medium-12 large-12">
        <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2438989953/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="https://skyconqueror.bandcamp.com/album/the-black-raven-ep">The Black Raven - EP by Skyconqueror</a></iframe>
    </div>
</div>

{{ content }}

{% include footer.html %}
